<div class="card">
  <style scoped>
    .card-body {
      color: #58170D;
      font-family: Georgia, serif;
      background-image: url("/images/parchment.jpg");
      background-repeat: repeat;
    }
    
    .card-body h1 {
      font-family: "Mrs Eaves";
    }
    
    .abilities {
      text-align: center;
    }
    
    .ability-score {
      padding: 4px;
    }
    
    .ability-modifier {
      border: 1px solid black;
      padding: 4px;
    }
  </style>
  <div class="card-body">
    <div class="d-flex align-items-baseline">
      <h1><%= monster.name %></h1>
      <span class="ms-4">
        <%= size monster.size %>
        <%= monster.types.first.capitalize %>
      </span>
      <span class="ms-auto">HP <%= monster.hit_points%></span>
      <span class="ms-auto">AC <%= monster.armor_class %></span>
      <span class="ms-auto">CR <%= monster.challenge_rating %></span>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <% if monster.senses %>
          <div><span class="fw-bold"><%= monster.senses.map(&:capitalize).join(',') %></span></div>
        <% end %>
        <div>
          <span class="fw-bold">Passive Perception:</span>&nbsp;<span><%= monster.passive_perception %></span>
        </div>
        <% if monster.languages.present? %>
          <div>
            <span class="fw-bold">Languages:</span>&nbsp;<span><%= monster.languages.map(&:capitalize).join(', ') %></span>
          </div>
        <% end %>
        <% if monster.speed.present? %>
          <div>
            <span class="fw-bold">Speed:</span>&nbsp;<span><%= "#{monster.speed} ft." %></span>
          </div>
        <% end %>
        <% if monster.skills.present? %>
          <div>
            <span class="fw-bold">Skills:</span>
            <%= monster.skills&.map { |skill, bonus| "#{skill.capitalize} #{sprintf('%+d', bonus)}"}&.join(', ') %>
          </div>
        <% end %>
        <% if monster.saves.present? %>
          <div>
            <span class="fw-bold">Saves:</span>
            <%= monster.saves&.map { |save, bonus| "#{save.capitalize} #{sprintf('%+d', bonus)}"}&.join(', ') %>
          </div>
        <% end %>
        <% if monster.resistances %>
          <div>
            <span class="fw-bold">Resist:</span>
            <%= monster.resistances.map(&:capitalize).join(', ') %>
          </div>
        <% end %>
        <% if monster.vulnerabilities %>
          <div>
            <span class="fw-bold">Vulnerable:</span>
            <%= monster.vulnerabilities.map { |vulnerability| vulnerability.capitalize }.join(', ') %>
          </div>
        <% end %>
        <% if monster.immunities%>
          <div>
            <span class="fw-bold">Immune:</span>
            <%= monster.immunities.map { |immunity| immunity.capitalize }.join(', ') %>
          </div>
        <% end %>
        <div><%= monster.alignment.capitalize %></div>
      </div>
      <table class="abilities">
        <tr>
          <td>Str</td>
          <td class="ability-score"><%= monster.abilities['str'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['str'] %></td>
        </tr>
        <tr>
          <td>Dex</td>
          <td class="ability-score"><%= monster.abilities['dex'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['dex'] %></td>
        </tr>
        <tr>
          <td>Con</td>
          <td class="ability-score"><%= monster.abilities['con'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['con'] %></td>
        </tr>
        <tr>
          <td>Int</td>
          <td class="ability-score"><%= monster.abilities['int'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['int'] %></td>
        </tr>
        <tr>
          <td>Wis</td>
          <td class="ability-score"><%= monster.abilities['wis'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['wis'] %></td>
        </tr>
        <tr>
          <td>Cha</td>
          <td class="ability-score"><%= monster.abilities['cha'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['cha'] %></td>
        </tr>
      </table>
    </div>
    <% if monster.spells.present? %>
      <h2>Spells</h2>
      <% monster.spells_by_level.each do |level, spells| %>
        <p>
          <%= level == 0 ? 'Cantrips' : "Level #{level}" %>
          <% unless level == 0 || level.nil? || monster.spell_slots.nil? %>(<%= monster.spell_slots[level-1] %>)<% end %>
          :
          <span>
            <% spells.each_with_index do |spell, i| %>
              <%= link_to spell.name, spell %><%= ',' unless i == spells.size - 1 %>
            <% end %>
          </span>
        </p>
      <% end %>
    <% end %>
    <% if monster.traits %>
      <div>
        <h2>Traits</h2>
        <ul>
          <% monster.traits.each do |trait| %>
            <li><span class="fw-bold"><%= trait["name"] %></span>: <%= trait["text"] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if monster.actions %>
      <div>
        <h2>Actions</h2>
        <ul>
          <% monster.actions.each do |action| %>
            <li><span class="fw-bold"><%= action["name"] %></span>: <%= action["text"] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if monster.reactions %>
      <div>
        <h2>Reactions</h2>
        <ul>
          <% monster.reactions.each do |reaction| %>
            <li><span class="fw-bold"><%= reaction["name"] %></span>: <%= reaction["text"] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if monster.legendaries %>
      <div>
        <h2>Legendary Actions</h2>
        <ul>
          <% monster.legendaries.each do |action| %>
            <li><span class="fw-bold"><%= action["name"] %></span>: <%= action["text"] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
