<div class="card">
  <style scoped>
    .card-body {
      color: #58170D;
      font-family: Georgia, serif;
      background-image: url("/images/parchment.jpg");
      background-repeat: repeat;
    }
    
    .card-body h1 {
      font-family: "Mrs Eaves";
    }
    
    .abilities {
      float: right;
      text-align: center;
    }
    
    .ability-score {
      padding: 4px;
    }
    
    .ability-modifier {
      border: 1px solid black;
      padding: 4px;
    }
  </style>
  <div class="card-body">
    <h1 class="card-title"><%= monster.name %></h1>
    <ul class="card-text">
      <li>CR: <%= monster.challenge_rating %></li>
      <li>AC: <%= monster.armor_class %></li>
      <li>HP: <%= monster.hit_points%></li>
      <li>Size: <%= monster.size %></li>
      <li>Speed: <%= monster.speed %></li>
      <li>Alignment: <%= monster.alignment %></li>
      <li>Passive Perception: <%= monster.passive_perception %></li>
      <li>Languages: <%= monster.languages %></li>
      <li>Types: <%= monster.types %></li>
      <li>Skills: <%= monster.skills %></li>
      <% if monster.resistances%>
        <li>Resistances: <%= monster.resistances %></li>
      <% end %>
      <% if monster.vulnerabilities %>
        <li>Vulnerabilities: <%= monster.vulnerabilities %></li>
      <% end %>
      <% if monster.immunities %>
        <li>Immunities: <%= monster.immunities %></li>
      <% end %>
      <li>Saves: <%= monster.saves %></li>
      <% if monster.senses %>
        <li>Senses: <%= monster.senses %></li>
      <% end %>
      <li>Spell Slots: <%= monster.spell_slots.to_s %></li>
    </ul>
    <table class="abilities">
      <tr>
        <td>Str</td>
        <td class="ability-score"><%= monster.abilities['str'] %></td>
        <td class="ability-modifier"><%= modifier monster.abilities['str'] %></td>
      </tr>
      <tr>
        <td>Dex
          <td class="ability-score"><%= monster.abilities['dex'] %></td>
          <td class="ability-modifier"><%= modifier monster.abilities['dex'] %></td>
        </tr>
        <tr>
          <td>Con
            <td class="ability-score"><%= monster.abilities['con'] %></td>
            <td class="ability-modifier"><%= modifier monster.abilities['con'] %></td>
          </tr>
          <tr>
            <td>Int
              <td class="ability-score"><%= monster.abilities['int'] %></td>
              <td class="ability-modifier"><%= modifier monster.abilities['int'] %></td>
            </tr>
            <tr>
              <td>Wis
                <td class="ability-score"><%= monster.abilities['wis'] %></td>
                <td class="ability-modifier"><%= modifier monster.abilities['wis'] %></td>
              </tr>
              <tr>
                <td>Cha
                  <td class="ability-score"><%= monster.abilities['cha'] %></td>
                  <td class="ability-modifier"><%= modifier monster.abilities['cha'] %></td>
                </tr>
              </table>
              <% if monster.spells.present? %>
                <h2>Spells</h2>
                <% monster.spells_by_level.each do |level, spells| %>
                  <p>
                    <%= level == 0 ? 'Cantrips' : "Level #{level}" %>
                    <% unless level == 0 || level.nil? || monster.spell_slots.nil? %>(<%= monster.spell_slots[level-1] %>)<% end %>
                    :
                    <span>
                      <% spells.each_with_index do |spell, i| %>
                        <%= link_to spell.name, spell %><%= ',' unless i == spells.size - 1 %>
                      <% end %>
                    </span>
                  </p>
                <% end %>
              <% end %>
              <% if monster.traits %>
                <div>
                  <h2>Traits</h2>
                  <ul>
                    <% monster.traits.each do |trait| %>
                      <li><span><%= trait["name"] %></span>: <%= trait["text"] %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if monster.actions %>
                <div>
                  <h2>Actions</h2>
                  <ul>
                    <% monster.actions.each do |action| %>
                      <li><span><%= action["name"] %></span>: <%= action["text"] %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if monster.reactions %>
                <div>
                  <h2>Reactions</h2>
                  <ul>
                    <% monster.reactions.each do |reaction| %>
                      <li><span><%= reaction["name"] %></span>: <%= reaction["text"] %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if monster.legendaries %>
                <div>
                  <h2>Legendary Actions</h2>
                  <ul>
                    <% monster.legendaries.each do |action| %>
                      <li><span><%= action["name"] %></span>: <%= action["text"] %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
