<div class="container p-5">
  <div>
    <h1>Greetings Adventurer!</h1>
    <div class="d-flex flex-column">
      <label for="username">What name do you go by in this realm?</label>
      <input name="username" type="text" placeholder="Name" class="form-control">
    </div>
    <div class="d-flex my-2">
      <%= render partial: "devise/shared/google_oauth2", locals: { path: user_google_oauth2_omniauth_authorize_path, text: 'Sign in to create a character' } %>
    </div>
    <div class="mt-4">
      <h2 class="display-6">Maps</h1>
      <div class="d-flex">
        <% @tilemaps.each do |tilemap| %>
          <div class="mx-4 d-flex flex-column">
            <div class="d-flex flex-column align-items-center p-2" style="border:1px solid rgba(0,0,0,.125)">
              <%= image_tag tilemap.thumbnail, height: 200, style: "max-width: 300px" if tilemap.thumbnail.present? %>
              <% tilemap.tags.each do |tag| %>
                <span class="badge bg-info"><%= tag %></span>
              <% end %>
            </div>
            <h3><%= tilemap.name %></h3>
            <div class="d-flex justify-content-between" style="width: 100%">
              <%= link_to "Visit", tilemap_path(tilemap) %>
              <%= link_to "Download", tilemap_path(tilemap, format: "xml") %>
            </div>
          </div>
        <% end %>
      </div>
      <h2 class="display-6 mt-4">Tilesets</h1>
      <div class="d-flex">
        <% @tilesets.each do |tileset| %>
          <div class="mx-4 d-flex flex-column">
            <div class="d-flex flex-column align-items-center p-2" style="border:1px solid rgba(0,0,0,.125)">
              <%= image_tag tileset.image, height: 200, style: "max-width: 300px" %>
              <% tileset.tags.each do |tag| %>
                <span class="badge bg-info"><%= tag %></span>
              <% end %>
            </div>
            <h3><%= tileset.name %></h3>
            <div class="d-flex mt-2 justify-content-between" style="width: 100%">
              <%= link_to "Download", tileset_path(tileset, format: "zip") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
